/*
 * Theme Customizer CSS
 *
 */

#customize-control-anderson_control_slider_active_header,
#customize-control-anderson_control_footer_text,
#customize-control-anderson_control_post_images,
#customize-control-anderson_control_excerpt_text_headline, 
#customize-control-anderson_control_image_grayscale_headline {
	margin-top: 12px;
}

#customize-control-anderson_control_default_fonts,
#customize-control-anderson_control_header_content,
#customize-control-anderson_control_post_images,
#customize-control-anderson_control_excerpt_text_headline,
#customize-control-anderson_control_image_grayscale_headline,
#customize-control-anderson_control_slider_active_header {
	margin-bottom: 0;
}

#customize-control-anderson_control_footer_text textarea {
	height: 4em;
}