/*======================================
Theme Name: Daltabaix

Version: 0.9
Author: ThemeZee
Author URI: http://elbit.cat

License: GNU General Public License v2.0
License URI: http://www.gnu.org/licenses/gpl-2.0.html
======================================*/

/* CSS Reset | http://meyerweb.com/eric/tools/css/reset/ | v2.0
-------------------------------------------------------------- */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, 
fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* General Styles
-------------------------------------------------------------- */
html {
	font-size: 100.01%;
}
body {
	/*font-family: 'Carme', Tahoma, Verdana, Arial;*/
	font-family: 'Open Sans', sans-serif;
	font-weight: 100;
	font-size: 0.95em;
	border: 0;
	color: white;
	background-color: #333;
}

/* Links */
a, a:link, a:visited{
	color: #DD261B;
	text-decoration: none;
}
a:hover, a:active {
	color: silver;
}

/* Form Elements */
input, textarea {
	padding: 0.7em;
	background: #fff;
	border: 1px solid #ddd;
	font-size: 1.0em;
	color: #333;
	font-family: 'Carme', Tahoma, Verdana, Arial;
}
input[type="submit"] {
	border: none;
	color: #fff;
	background-color: #DD261B;
}
input[type="submit"]:hover {
	background-color: silver;
	cursor: pointer;
}

/* Clearing Floats */
.clearfix:before, .clearfix:after {  
	content: " ";
	display: table;  
}  
.clearfix:after {  
	clear: both;
}  
.clearfix {
    *zoom: 1; /* For IE 6/7 only */  
}

/* Make Form Elements responsive */
input, textarea, select {
	max-width: 100%;
}

/* Basic Structure 
-------------------------------------------------------------- */
#wrapper {
	max-width: 1350px;
	width: 92%;
	margin: 0 auto;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	background:#333;
}
#header {
	padding: 1em 2em;
	background: #333;
}
#wrap {
	padding: 2em 2em 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
#content {
	float: left;
	width: 74%;
	padding-right: 2em;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
#sidebar {
	float: right;
	width: 26%;
}

/* Header
-------------------------------------------------------------- */
#logo {
	float: left;
	max-width: 100%;
	margin: 1.2em 0;
}

#logo 
#logo .site-title {
	display: inline;
	background: #DD261B;
	color: #fff;
	padding: 0.15em 0.3em;
	-webkit-box-decoration-break: clone;
	box-decoration-break: clone;
	font-size: 2.5em;
	font-family: 'Share', Tahoma, Verdana, Arial;
	line-height: 1.4em;
}
#logo a:hover {
	text-decoration: none;
}
#logo a:hover .site-title {
	background: #333;
	text-decoration: none;
}
#logo .site-description {
	margin-top: 0.4em;
}

.logo {

	max-width: 280px;
}

/* Header Banner */
#header-banner {
	float: right;
}
#header-banner img {
	max-width: 100%;
	height: auto;
}

/* Custom Header Image */
#custom-header {
	margin: 1.5em 2em 0;
}
#custom-header img {
	max-width: 1300px;
	vertical-align: top;
	width: 100%;
	height: auto;
}

/* Top Navigation Menu
-------------------------------------------------------------- */
#topheader {
	/*border-bottom: 1px solid #ccc;*/
	//width: 50%;
	float: right;
}
#topnav-icon {
	display: none;
}
#topnav-menu {
	float: left;
	padding-left: 0.4em;
	list-style-type: none;
	list-style-position: outside;
	position: relative;
}
#topnav-menu li{
	float: left;
	position: relative;
}
#topnav-menu a {
	display: block;
	padding: 0.8em;
	text-decoration: none;
	font-size: 0.85em;
}
#topnav-menu li.current_page_item a, #topnav-menu li.current-menu-item a {
	text-decoration: underline;
}

/* Navigation Menu
-------------------------------------------------------------- */
#navigation-wrap {
	padding: 0 2em;
}
#mainnav-icon {
	display: none;
}
#mainnav {
	border-top: 1px solid silver;
	border-bottom: 2px solid silver;
}
#mainnav-menu {
	float: left;
	list-style-type: none;
	list-style-position: outside;
	position: relative;
}
#mainnav-menu li {
	float: left;
	position: relative;
}
#mainnav-menu a {
	display: block;
	padding: 1em 1.4em;
	text-decoration: none;
	font-size: 1.5em;
	text-transform: uppercase;
	font-family: 'Homenaje', sans-serif;
}
#mainnav-menu a:link, #mainnav-menu a:visited {
	color: silver;
	text-decoration: none;
}
#mainnav-menu a:hover {
	color: #DD261B; 
}
#mainnav-menu ul {
	position: absolute;
	display: none;
	z-index: 99;
	padding: 2px 0 0;
	background: silver;
}
#mainnav-menu ul li{
	margin: 0;
	border: none;
}
#mainnav-menu ul a {
	width: 250px;
	width: 16rem;
	padding: 1.2em 1.4em;
	float: left;
	/*font-family: 'Carme', Tahoma, Verdana, Arial;*/
	font-weight: normal;
	letter-spacing: 0;
	text-transform: none;
	color: #fff;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
#mainnav-menu ul a:link, #mainnav-menu ul a:visited {
	color: #fff;
	font-size: 0.95em;
	text-decoration: none;
}
#mainnav-menu ul a:hover, #mainnav-menu ul a:active {
	background: #DD261B; 
}
#mainnav-menu li ul ul {
	margin-left: 250px;
	margin-left: 16rem;
	padding-top: 0;
}
#mainnav-menu li:hover ul ul, #mainnav-menu li:hover ul ul ul, #mainnav-menu li:hover ul ul ul ul{
	display:none;
}
#mainnav-menu li:hover ul, #mainnav-menu li li:hover ul, #mainnav-menu li li li:hover ul, #mainnav-menu li li li li:hover ul{
	display:block;
}
#mainnav-menu li.current_page_item a, #mainnav-menu li.current-menu-item a {
	color: #DD261B;
}
#mainnav-menu li.current_page_item ul li a, #mainnav-menu li.current-menu-item ul li a {
	color: #fff;
}
#mainnav-menu ul li.current_page_item a, #mainnav-menu ul li.current-menu-item a {
	color: #fff;
	text-decoration: underline;
}
#mainnav-menu ul li.current_page_item ul li a, #mainnav-menu ul li.current-menu-item ul li a {
	text-decoration: none;
}

/* Add Menu Icons */
#mainnav-menu .menu-item-has-children a:after, #mainnav-menu .page_item_has_children a:after{
	display: inline-block;
	-webkit-font-smoothing: antialiased;
	font: normal 12px 'Genericons';
	vertical-align: middle;
	color: silver;
	margin: 0 0 -0.3em 0.6em;
	content: '\f502';
}
#mainnav-menu .menu-item-has-children ul li a:after, #mainnav-menu .page_item_has_children ul li a:after {
	content: '';
}
#mainnav-menu .menu-dashicon a:before {
	display: inline-block;
	-webkit-font-smoothing: antialiased;
	font: normal 20px 'Dashicons';
	vertical-align: top;
	color: silver;
	margin: -0.2em 0.4em 0 0;
	content: "\f102";
}
#mainnav-menu .menu-dashicon ul li a:before {
	content: '';
}
#mainnav-menu li a:hover:before, #mainnav-menu li a:hover:after {
	color: #DD261B;
}

/* Widget Styling
-------------------------------------------------------------- */
.widget {
	margin-bottom: 2em;
	padding: 0.5em;
	max-width: 100%;
	-ms-word-wrap: break-word;
	word-wrap: break-word;
}
.widgettitle {
	margin: -0.5em -0.5em 1em;
	border-top: 1px solid silver;
	border-bottom: 1px solid silver;
}
.widgettitle span {
	display: inline-block;
	font-family: 'Share', Tahoma, Verdana, Arial;
	font-size: 1.15em;
	line-height: 1.4em;
	color: silver;
	padding: 0.4em 0.5em;
}
.widget .textwidget {
	line-height: 1.5em;
}
.widget .textwidget p {
	margin-bottom: 1em;
}
.widget ul, .widget ol {
	line-height: 1.5em;
	color: silver;
}
.widget ul {
	list-style: circle inside;
}
.widget ul .children {
	padding: 0;
	margin: 0.5em 0 0.5em 1em;
}
.widget a:link, .widget a:visited  {
	color: #DD261B;
}
.widget a:hover, .widget a:active {
	color: silver;
}
.widget img {
	max-width: 100%;
	height: auto;
}
.widgettitle a:link, .widgettitle a:visited  {
	text-decoration: underline;
}
.widgettitle a:hover, .widgettitle a:active {
	text-decoration: none;
}

/* Custom Widgets
-------------------------------------------------------------- */

/* Category, Archives, Meta Widget */
.widget_archive ul, .widget_categories ul, .widget_meta ul {
	list-style: none inside;
}
.widget_archive ul li, .widget_categories ul li, .widget_meta ul li {
	padding: 0.25em 0;
}
.widget_archive ul li:before, .widget_categories ul li:before, .widget_meta ul li:before {
	display: inline-block;
	-webkit-font-smoothing: antialiased;
	font: normal 14px 'Genericons';
	vertical-align: top;
	color: silver;
	margin: 0.3em 0.3em 0 0;
	content: '\f429';
}


/* Tagcloud Widget */
.tagcloud a {
	display: inline-block;
	margin: 1px;
	padding: 0.2em 0.4em;
	text-decoration: none;
	color: #fff;
	background-color: #DD261B;
}
.tagcloud a:link, .tagcloud a:visited {
	color: #fff;
}
.tagcloud a:hover, .tagcloud a:active {
	background-color: silver;
	text-decoration: none;
}

/* Calendar Widget */
#wp-calendar {
	margin: 0;
	width: 100%;
	color: #444;
	line-height: 1.6em;
}
#wp-calendar th,
#wp-calendar td,
#wp-calendar caption {
	text-align: left;
}
#wp-calendar caption {
	font-style: italic;
	margin-bottom: 0.1em;
}
#wp-calendar th {
	font-weight: bold;
	font-size: 0.85em;
}
#wp-calendar tfoot tr td {
	padding-top: 0.5em;
}
#wp-calendar #next {
	padding-right: 0.8em;
	text-align: right;
}

/* Posts and Pages
-------------------------------------------------------------- */
.type-post, .type-page, .type-attachment  {
	margin: 0.3em 0 2em 0;
}
.page-title, .post-title {
	/*font-family: 'Share', Tahoma, Verdana, Arial;*/
	
	font-family: 'Homenaje', sans-serif;
	font-weight: 300;
	color: silver;
	line-height: 1.4em;
	-ms-word-wrap: break-word;
	word-wrap: break-word;
    font-size: 2.5em;
    color:#DD261B;
}
.post-title {
	display: inline;
	/*background: #DD261B;*/
	color: #DD261B;
	padding: 0.3em 0;
	-webkit-box-decoration-break: clone;
	box-decoration-break: clone;
	font-size: 2.2em;
	text-transform: uppercase;
	
}
.post-title a:link, .post-title a:visited {
	color: #DD261B;
	text-decoration: none;
}
.post-title:hover, .post-title:active{
	background: silver;
}
.sticky {
	margin: 0 0 2.5em;
	padding: 2em 0 0;
	border-top: 1px solid silver;
	border-bottom: 2px solid silver;
}

/* Page Links | wp_link_pages() */
.page-links {
	margin: 0;
	word-spacing: 1em;
}

/* Post Image & Category */
.type-post .post-image {
	position: relative;
	float: left;
	max-width: 30%;
	margin: -0.3em 2em 1em 0;
	overflow: hidden;
}
.type-post .post-image .wp-post-image {
	margin: 0;
	max-width: 100%;
	height: auto;
	vertical-align: top;
}
.image-post-categories {
	position: absolute;
	top: 1em;
	left: 0;
}

.post-categories a {
	display: inline-block;
	margin: 0 0 2px;
	padding: 0.5em 0.6em;
	background: silver;
}
.post-categories a:link, .post-categories a:visited {
	color: #fff;
}
.post-categories a:hover, .post-categories a:active{
	background: #DD261B;
}
.single-post-categories {
	margin-bottom: 0.5em;
}
.single-post-categories a {
	float: left;
	margin: 0 2px 0 0;
}

/* Postmeta (Date & Author) */
.postmeta, .postinfo {
	color: #888;
	margin: 0.4em 0 0;
	padding: 0.3em 0;
	line-height: 1.5em;
	font-size: 0.95em;
}
.postmeta a:link, .postmeta a:visited {
	color: #555;
}
.postmeta a:hover, .postmeta a:active{
	text-decoration: underline;
}

/* Post Tags */
.post-tags {
	margin: 0.5em 0 0;
}
.post-tags a {
	display: inline-block;
	font-size: 0.95em;
	margin: 1px 0;
	padding: 0.3em 0.6em;
	text-decoration: none;
	color: #fff;
	background-color: #DD261B;
}
.post-tags a:link, .post-tags a:visited {
	color: #fff;
}
.post-tags a:hover, .post-tags a:active {
	background-color: silver;
	text-decoration: none;
}


/* Read more Link */
.more-link {
	display: inline-block;
	margin: 0.5em 0;
	padding: 0.3em 0.8em;
	text-decoration: none;
	color: #fff;
	background-color: #DD261B;
}
.more-link:link, .more-link:visited {
	color: #fff;
}
.more-link:hover, .more-link:active {
	background-color: silver;
	text-decoration: none;
}

/* Archives and Search Heading */
.archive-title {
	margin-bottom: 2em;
	padding: 0.4em 0.5em;
	font-family: 'Share', Tahoma, Verdana, Arial;
	font-size: 1.15em;
	line-height: 1.4em;
	color: silver;
	-ms-word-wrap: break-word;
	word-wrap: break-word;
	border-top: 1px solid silver;
	border-bottom: 1px solid silver;
}
.archive-title span{
	color: #DD261B;
}

/* Content Pagination */
.post-pagination {
	margin-bottom: 2em;
	font-family: 'Share', Tahoma, Verdana, Arial;
	font-size: 1.15em;
	line-height: 1.4em;
	color: silver;
	border-top: 1px solid silver;
	border-bottom: 1px solid silver;
}
.post-pagination a {
	padding: 0.4em 0.6em;
	display: inline-block;
    text-align: center;
	text-decoration: none;
	color: silver;
}
.post-pagination a:link, .post-pagination a:visited {
	color: silver;
}
.post-pagination a:hover {
	color: #DD261B;
}
.post-pagination .current {
	padding: 0.4em 0.6em;
	color: #DD261B;
}

/* Text Elements
-------------------------------------------------------------- */
.entry {
	line-height: 1.6em;
	margin: 0.4em 0;
	-ms-word-wrap: break-word;
	word-wrap: break-word;
	max-width: 700px;
}
.entry p, .comment p {
	margin: 0.75em 0;
}

h1,h2,h3,h4,h5,h6 { color:#DD261B;}
.entry h1, .comment h1,
.entry h2, .comment h2,
.entry h3, .comment h3,
.entry h4, .comment h4,
.entry h5, .comment h5,
.entry h6, .comment h6 {
	color: #DD261B;
	/*font-weight: bold;*/
	line-height: 1.0em;
	margin: 1.2em 0 0.3em;
	font-family: 'Homenaje', sans-serif;
}
.entry h1, .comment h1 {
	font-size: 3.2em;
}
.entry h2, .comment h2 {
	font-size: 2.45em;
}
.entry h3, .comment h3 {
	font-size: 1.7em;
}
.entry h4, .comment h4 {
	font-size: 1.45em;
}
.entry h5, .comment h5 {
	font-size: 1.225em;
	margin: 1.3em 0 0;
}
.entry h6, .comment h6 {
	font-size: 1.2em;
	margin: 1.3em 0 0;
}
.entry ul, .comment ul{
	list-style: square inside;
	margin: 0 0 1.5em 2em;
}
.entry ol, .comment ol{
	list-style: decimal inside;
	margin: 0 0 1.5em 2em;
}
.entry ol ol, .comment ol ol{
	list-style: upper-alpha inside;
}
.entry ol ol ol, .comment ol ol ol{
	list-style: lower-roman inside;
}
.entry ol ol ol ol, .comment ol ol ol ol{
	list-style: lower-alpha inside;
}
.entry ul ul, .comment ul ul,
.entry ol ol, .comment ol ol,
.entry ul ol, .comment ul ol
.entry ol ul, .comment ol ul {
	margin-bottom: 0.2em;
}
dl {
	margin: 1em 0;
}
dt {
	font-weight: bold;
}
dd {
	margin-bottom: 1.5em;
}
strong {
	font-weight: bold;
}
cite,
em,
i {
	font-style: italic;
}
big, .big_tag {
	font-size: 1.3em;
}
ins {
	padding: 1px 2px;
	background: #ffa;
	text-decoration: none;
}
code, pre {
	padding: 3px 8px;
	margin: 0 1px;
	background: #eeeeee;
	color: silver;
	font-size: 0.9em;
	font-family: Monospace, "Courier New", Courier;
	overflow: auto;
	line-height: 1.0em;
}
del, strike, s{
	text-decoration: line-through;
}
pre {
	font-family: "Courier 10 Pitch", Courier, monospace;
}
small {
	font-size: 0.7em;
}
abbr,
acronym {
	border-bottom: 1px dotted #666;
	cursor: help;
}
sup,
sub {
	height: 0;
	line-height: 1;
	position: relative;
	vertical-align: baseline;
	font-size: 0.8em;
}
sup {
	bottom: 1ex;
}
sub {
	top: .5ex;
}
.entry var, .entry kbd, .entry tt, .entry .tt_tag {
	font-size: 1.1em;
	font-family: "Courier 10 Pitch", Courier, monospace;
}
blockquote {
	background: silver;
	border: 1px solid #ccc;
	border-left: 3px solid #DD261B;
	margin: 1.2em 0;
	padding: 0.3em 1.2em;

}
blockquote cite {
	display: block;
	margin: 0.5em 0 0 0.5em;
	color: #777;
}
.entry table {
	border-collapse: collapse;
	border-spacing: 0;
	border: 1px solid #ddd;
	margin: 1em 0;
	text-align: left;
	width: 100%;
}
.entry tr th,
.entry thead th {
	background: #e5e5e5;
	font-weight: bold;
	padding: 0.2em 1em;
}
.entry tr td {
	border-top: 1px solid #ddd;
	padding: 0.2em 1em;
}
.entry tr.alternate td {
	background: #f5f5f5;
}

/* Images | Gallery | Videos
-------------------------------------------------------------- */
.wp-post-image, #post-slider-wrap img {
	filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale"); /* Firefox 10+, Firefox on Android */    
	-webkit-filter: grayscale(80%);
	-moz-filter: grayscale(80%);
	-ms-filter: grayscale(80%);
	filter: grayscale(80%);
	filter: gray; /* IE 6-9 */
    -webkit-transition: all 0.4s ease; /* Fade to color for Chrome and Safari */
	transition: all 0.4s ease;
    -webkit-backface-visibility: hidden; /* Fix for transition flickering */
}
.wp-post-image:hover, .post-image:hover .wp-post-image, #post-slider-wrap:hover img, .widget-category-posts .big-post:hover img {
	-moz-filter: none; 
	-ms-filter: none; 
	-o-filter: none; 
	-webkit-filter: none; 
	filter: none;
}
.entry img {
	max-width: 100%;
	height: auto;
}
.wp-caption {
	max-width: 100%;
	height: auto;
	text-align: center;
	margin: 1em 0;
}
.wp-caption-text {
	margin: 0 !important;
	padding: 0;
	font-size: 0.9em;
	text-align: center;
}
.alignleft { 
	float: left; 
	display: inline; 
	margin: 1em 2em 1em 0;
}
.alignright	{
	float: right; 
	display: inline; 
	margin: 1em 0 1em 2em;
}
.aligncenter {
	margin: 1em auto; 
	display: block;
}

/* Gallery Styling */
.gallery {
	margin: 1em auto !important;
}
.gallery-item {
	float: left;
	margin: 0.7em 0 0 0 !important;
	padding-right: 1em;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.gallery img {
	margin: 0 !important;
	border: none !important;
}
.gallery-caption {
	margin-left: 0.3em !important;
}

/* Make Vidoes responsive */
embed, iframe, object, video {
	max-width: 100%;
}

/* Image.php Navigation */
#image-nav {
	margin-bottom: 1.5em;
	padding: 0.5em 0;
	color: #333;
}
#image-nav .nav-previous {
	float: left;
}
#image-nav .nav-next {
	float: right;
}
#image-nav .nav-previous a, #image-nav .nav-next a {
	padding: 0.6em 1em;
	font-size: 0.9em;
	font-weight: bold;
	text-decoration: none;
	background: #DD261B;
	color: #fff;
}
#image-nav .nav-previous a:hover, #image-nav .nav-next a:hover {
	background: silver;
}
/* Search Form
-------------------------------------------------------------- */
.search-form {
	display: block;
	position: relative;
	width: 100%;
	margin: 0;
	padding: 0;
	overflow:hidden;
}
.search-form .screen-reader-text {
	display: none;
}
.search-form .search-field {
	display: inline-block;
	margin: 0;
	width: 100%;
	padding: 0.6em 45px 0.6em 0.6em;
	background: #fff;
	border: 1px solid #ddd;
	font-size: 1.0em;
	color: #333;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-appearance: none;
}
.search-form .search-submit {
	position: absolute;
	top: 0;
	right: 0;
	border: none;
	background: transparent;
	padding: 0.8em 0.7em 0 0;
	cursor: pointer;
}
.search-form .search-submit .genericon-search {
	display: inline-block;
	width: 24px;
	height: 24px;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	font-size: 24px;
	line-height: 1;
	font-family: 'Genericons';
	text-decoration: inherit;
	font-weight: normal;
	font-style: normal;
	vertical-align: text-bottom;
	color: #777;
	content: '\f400';
}
.search-form .search-submit:hover .genericon-search {
	color: #333;
}


/* Social Icons | based upon http://kovshenin.com/2014/social-menus-in-wordpress-themes/
-------------------------------------------------------------- */
.social-icons-menu, .widget-social-icons .social-icons-menu {
	list-style-type: none !important;
	list-style-position: outside !important;
	line-height: 1em !important;
}
.social-icons-menu li {
	float: left;
	margin: 0 0.2em 0.2em 0;
	padding: 0;
}
.social-icons-menu li a {
	position: relative;
	display: inline-block;
	padding: 0.8em;
	text-decoration: none;
	color: #fff;
	background: #DD261B;
}
.social-icons-menu li a:before {
	color: #fff;
	display: inline-block;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	font-size: 18px;
	line-height: 1em;
	font-family: 'Genericons';
	text-decoration: inherit;
	vertical-align: top;
}

/* Add Genericons */
.social-icons-menu li a:before { content: '\f408';} /* Default Icon */
.social-icons-menu li a[href*="codepen.io"]:before  { content: '\f216'; }
.social-icons-menu li a[href*="digg.com"]:before { content: '\f221'; }
.social-icons-menu li a[href*="dribbble.com"]:before { content: '\f201'; }
.social-icons-menu li a[href*="facebook.com"]:before { content: '\f204'; }
.social-icons-menu li a[href*="flickr.com"]:before { content: '\f211'; }
.social-icons-menu li a[href*="plus.google.com"]:before { content: '\f218'; }
.social-icons-menu li a[href*="github.com"]:before { content: '\f200'; }
.social-icons-menu li a[href*="instagram.com"]:before { content: '\f215'; }
.social-icons-menu li a[href*="linkedin.com"]:before { content: '\f207'; }
.social-icons-menu li a[href*="pinterest.com"]:before { content: '\f209'; }
.social-icons-menu li a[href*="polldaddy.com"]:before { content: '\f217'; }
.social-icons-menu li a[href*="getpocket.com"]:before { content: '\f224'; }
.social-icons-menu li a[href*="#DD261Bdit.com"]:before { content: '\f222'; }
.social-icons-menu li a[href*="spotify.com"]:before { content: '\f515'; }
.social-icons-menu li a[href*="skype.com"]:before,
.social-icons-menu li a[href*="skype:"]:before { content: '\f220'; }
.social-icons-menu li a[href*="stumbleupon.com"]:before { content: '\f223'; }
.social-icons-menu li a[href*="tumblr.com"]:before { content: '\f214'; }
.social-icons-menu li a[href*="twitch.tv"]:before { content: '\f516'; }
.social-icons-menu li a[href*="twitter.com"]:before { content: '\f202'; }
.social-icons-menu li a[href*="vimeo.com"]:before  { content: '\f212'; }
.social-icons-menu li a[href*="wordpress.org"]:before,
.social-icons-menu li a[href*="wordpress.com"]:before { content: '\f205'; }
.social-icons-menu li a[href*="youtube.com"]:before { content: '\f213'; }
.social-icons-menu li a[href*="/feed"]:before,
.social-icons-menu li a[href*="/feed/"]:before,
.social-icons-menu li a[href*="?feed=rss2"]:before,
.social-icons-menu li a[href*="feedburner.google.com"]:before,
.social-icons-menu li a[href*="feedburner.com"]:before { content: '\f413'; }

.social-icons-menu li a:hover, .social-icons-menu li a:hover:before  {
	text-decoration: none;
	background: silver;
}

.social-icons-menu li a .screen-reader-text {
	display: none;
}
.social-icons-wrap .social-icons-hint {
	font-size: 0.8em;
	color: #777;
	max-width: 300px;
	line-height: 1.2em;
}

/* Header Social Icons */
#header-social-icons {
	float: right;
	padding-right: 0.4em;
}
#header-social-icons .social-icons-menu li {
	margin: 0.1em 0 0;
	background: none;
}
#header-social-icons .social-icons-menu li a {
	padding: 2em 0.8em 0.4em;
	background: none;
	border: none;
}
#header-social-icons .social-icons-menu li a:before {
	color: silver;
	font-size: 40px;
}
#header-social-icons .social-icons-menu li a:hover, #header-social-icons .social-icons-menu li a:hover:before  {
	color: #DD261B;
	background: none;
}

/* Comments
-------------------------------------------------------------- */
#comments {
	margin: 0 0 2em 0;
}
#comments .comments-title, #respond #reply-title {
	font-size: 1.5em;
	font-family: 'Share', Tahoma, Verdana, Arial;
	margin-bottom: 0.5em;
	color: silver;
	-ms-word-wrap: break-word;
	word-wrap: break-word;
}
.commentlist {
	display: block;
	margin: 0;
	border-bottom: 1px solid #ddd;
}
.commentlist .comment{
	display: block;
	padding: 1.5em 1em;
	border-top: 1px solid #ddd;
	list-style: none;
	line-height: 1.5em;
	-ms-word-wrap: break-word;
	word-wrap: break-word;
}
.comment-author img {
	float: left;
	margin-right: 1em;
	margin-top: -0.1em;
}
.comment-author img:after {
	clear: both;
}
.comment-author .fn {
	font-size: 1.1em;
	padding: 0.2em 0;
}
.comment-author .fn a:link, .comment-author .fn a:visited {
	text-decoration: underline;
}
.comment-author .fn a:hover, .comment-author .fn a:active {
	text-decoration: none;
}
.bypostauthor .fn, .comment-author-admin .fn{
	font-style: italic;
	background: #eee;
	padding: 0.2em 0.6em;
}
.comment-meta {
	font-size: 0.9em;
	margin-bottom: 1.5em;
}
.comment-meta a:link, .comment-meta a:visited, 
.comment-meta a:active, .comment-meta a:hover {
	color: #666 !important;
}
#comments .children {
	margin-top: 1.5em;
	margin-left: 1em;
}
#comments .children .comment {
	background: #fafafa;
	border-bottom: 1px solid #ddd;
}
.nocomments {
	color: #444;
	padding: 1em;
}
.commentlist .pingback {
	display: block;
	margin: 0.6em 0 0;
	padding: 0.8em 0 0;
	border-top: 1px solid #ddd;
	list-style: none;
	line-height: 1.3em;
}

/* Comment Pagination */
.comment-pagination {
	font-size: 0.9em;
}
.comment-pagination .alignleft {
	float: left;
}
.comment-pagination .alignright {
	float: right;
}

/* Comment Form */
#respond {
	margin: 1.5em 0 0;
}
#commentform {
	padding: 0;
}
#commentform p {
	margin: 1em 0;
}
#commentform input[type="text"], #commentform textarea {
	display: inline-block;
	width: 100%;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
#commentform label {
	display: block;
	margin: 0.6em 0 0.3em;
	font-weight: bold;
}
#commentform #submit {
	display: block;
	border: none;
	margin-top: 1em;
	padding: 1em 4em;
	text-decoration: none;
	color: #fff;
	background: #DD261B;
}
#commentform #submit:hover {
	background-color: silver;
	cursor: pointer;
	text-decoration: none;
}

/* Post Slider
-------------------------------------------------------------- */
/* All Slideshow Styles are located in /css/flexslider.css */


/* Magazine Homepage
-------------------------------------------------------------- */
.magazine-homepage-no-widgets {
	line-height: 1.5em;
	margin-bottom: 1.5em;
}

/* Category Posts Widgets */
#magazine-homepage-widgets .widget {
	padding: 0;
}
#magazine-homepage-widgets .widgettitle {
	margin: 0 0 1em 0;
}
#magazine-homepage-widgets .widgettitle a:link, #magazine-homepage-widgets .widgettitle a:visited  {
	text-decoration: none;
	color: silver;
}
#magazine-homepage-widgets .widgettitle a:hover, #magazine-homepage-widgets .widgettitle a:active {
	text-decoration: underline;
}
.widget-category-posts {
	margin: 0 0 -1em 0;
}
.widget-category-posts .type-post {
	margin: 0;
	padding: 0;
	border: none;
}
.widget-category-posts .big-post {
	margin-bottom: 1.5em;
	position: relative;
}
.widget-category-posts .big-post .post-content {
	position: absolute;
	bottom: 1em;
	left: 1em;
	right: 1em;
}
.widget-category-posts .type-post .post-content .post-entry {
	background: #fff;
	background: rgba(255,255,255,0.8);
	padding: 0.6em 1em 0.8em;
}
.widget-category-posts .type-post .post-content .post-entry .entry , 
.widget-category-posts .type-post .post-content .post-entry .entry p {
	margin: 0;
}
.widget-category-posts .small-post {
	float: right;
	width: 100%;
	margin: 0.3em 0 1em 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.widget-category-posts .small-post .wp-post-image {
	float: left;
	margin: -0.2em 1em 0 0;
}
.widget-category-posts .small-post .small-posts-content {
	display: inline;
}
.widget-category-posts .small-post .post-title{
	font-size: 1.1em;
}

/* Category Posts Boxed Widget */
#widget-category-posts-boxed .big-post {
	float: left;
	width: 50%;
	padding-right: 0.75em;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
#widget-category-posts-boxed .small-posts {
	width: 50%;
	margin-left: 50%;
	padding-left: 0.75em;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
#widget-category-posts-boxed .big-post .post-content {
	right: 1.75em;
}

/* Category Posts Grid Widget */
#widget-category-posts-grid .category-posts-grid-row {
	margin-right: -1.5em;
	
}
#widget-category-posts-grid .category-posts-grid-row .type-post {
	float: left;
	width: 33%;
	margin-right: 5%;
	/*//padding-right: 1.5em;*/
	/*padding-left: 1.5em;*/
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	background-color: #808080;
	border-radius:5px;

}
#widget-category-posts-grid .type-post .post-content {
	/*right: 2.5em;*/
	margin-top: 1.5em;
	position: relative;
	width: 90%;
}
#widget-category-posts-grid .type-post .post-title a {
	/*margin-left: -0.5em!important;*/
	/*margin-top: -3em!important;*/
		
	font-size: 23px;
	color:white;
	width: 90%;

}

#widget-category-posts-grid .type-post .post-title a:hover {
	background-color: gray;
	color:red;

}
#widget-category-posts-grid .type-post .post-title {
	line-height: 1;
	width: 90%;

}
#widget-category-posts-grid .type-post .post-title:hover {
	line-height: 1;
	background-color: transparent;

}

#widget-category-posts-grid .type-post .post-entry {
	margin-left: -1em!important;
	margin-top: 1em!important;
	display: none;

}
#widget-category-posts-grid img {
	/*margin-bottom: 5em;*/
}

/* Category Posts Horizontal Widget */
#widget-category-posts-horizontal .widget-category-posts-content {
	margin-right: -1.5em;
}
#widget-category-posts-horizontal .widget-category-posts-content .type-post {
	float: left;
	width: 33.33333333%;
	padding-right: 1.5em;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	height: 440px;
	background-color: gray;
	/*border-right: #333 25px solid;*/
	-webkit-box-shadow: inset -24px 0px 0px -1px #333;
	-moz-box-shadow: inset -24px 0px 0px -1px #333;
	box-shadow: inset -24px 0px 0px -1px #333;
	border-radius: 10px;
}
#widget-category-posts-horizontal .type-post .post-title {
	font-size: 1.15em;
}
#widget-category-posts-horizontal .type-post .post-content {
	bottom: 3.5em;
	left: 0.5em;
	right: 0.5em;
	right: 2em;
}

.type-post .post-content .dades-concert {


	padding: 1em;
	
	text-align: center;
	margin-bottom: -70px;
	font-family: 'Homenaje', sans-serif;
	font-weight: 200;
}
.type-post .post-content .data{ margin-bottom: 0.8em; font-size: 1.5em; }

.type-post .post-content .artista{ margin-bottom: 1em; font-size: 1.7em; color: white;}

.type-post .post-content .artista:hover { 
			color: #DD261B;
			
}
.type-post .post-content .lloc{ margin-bottom: 0.8em; font-size: 1.5em; color: white;}

.cta-compra ,.cta-compra:link{ 


	margin: 1em 0;
	padding: 0.4em 0.5em;
	background-color: #DD261B;
	color:white!important;
	border-radius: 10px;
	font-size: 1.4em;
	transition: all 0.3s ease-out;
	text-align: center;
	font-family: 'Homenaje', sans-serif;
	box-sizing:border-box;
	display: block;
	width: 100%;
}

.cta-compra:hover {

	background-color:red;


	}
.cta-compra-interior, .cta-compra-interior:link { 
	color:white;
	background-color: red;
	border-radius: 5px;
	padding: 0.2em;
}

#widget-category-posts-horizontal .type-post .post-content .post-entry {
	padding: 0.1em 0.6em;
}

/* Category Posts Columns Widget */
#widget-category-posts-columns .category-posts-column-left {
	float: left;
	width: 50%;
	padding-right: 0.75em;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
#widget-category-posts-columns .category-posts-column-right {
	margin-left: 50%;
	width: 50%;
	padding-left: 0.75em;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.text-home {

	
	max-width: 700px;


}

/* Footer
-------------------------------------------------------------- */
#footer-wrap {
	background: #333;
	border-top: 1px solid #ccc;
	padding: 1.5em;
	line-height: 1.5em;
	margin-top: 2em;
	margin-bottom: 2em;
}
#footer .footer-content {
	font-size: 0.9em;
}

/* Footer Navigation Menu */
#footernav {
	float: right;
}
#footernav-menu {
	float: right;
	list-style-type: none;
	list-style-position: outside;
	position: relative;
}
#footernav-menu li {
	display: inline-block;
	margin-left: 2em;
}
#footernav-menu a {
	display: inline-block;
	text-decoration: none;
	font-size: 0.9em;
}


.footer-content-info {

	float: right;
	width: 30%;
	text-align: right;
}

.footer-content-colaboradors {
	float: left;
	width: 70%;
	text-align: left;
}
.footer-content-colaboradors a {

		
		margin: 0 1em;
		
}

.footer-content-colaboradors img {

		max-width: 140px;
		vertical-align: top;
}
@media only screen and (max-width:1080px) {

	.footer-content-colaboradors {
	
	width: 100%;
	
	}
	.footer-content-info {

	float: left;
	width: 100%;
	margin-top: 1em;
	text-align: center;
	
}
	
}

/*============================ MEDIA QUERIES ============================*/
@media only screen and (max-width: 80em) {
	#mainnav-menu a {
		font-size: 1.1em;
	}
	/* Category Post Widgets */
	.widget-category-posts .big-post .post-title {
		font-size: 1.4em;
	}
	.widget-category-posts .type-post .post-content .post-entry .entry {
		font-size: 0.95em;
	}
}
/* Small screens | <1120px */
@media only screen and (max-width: 75em) {

	/* Category Post Widgets */
	.widget-category-posts .big-post .post-title {
		font-size: 1.3em;
	}
	.widget-category-posts .type-post .post-content .post-entry {
		padding: 0.1em 0.6em;
	}
	.widget-category-posts .type-post .post-content .post-entry .entry {
		display: none;
	}
	#widget-category-posts-horizontal .type-post .post-content .post-entry {
		display: none;
	}
	#widget-category-posts-horizontal .type-post .post-content {
		
	}
}
/* Small screens | <1120px */
@media only screen and (max-width: 70em) {
	#wrapper {
		width: 94%;
	}
	#mainnav-menu a {
		font-size: 1.05em;
	}
	#header-banner {
		max-width: 80%;
	}
}
/* Smaller screens | <1120px */
@media only screen and (max-width: 65em) {
	#wrapper {
		width: 96%;
	}
	.type-post, .type-page, .type-attachment, .widget, #comments {
		margin-bottom: 2em;
	}
	#header {
		padding: 1.5em;
	}
	#mainnav-menu a {
		font-size: 1.0em;
		padding: 1.5em 1.6em;
	}
}
/* Tablets (landscape) | <960px */
@media only screen and (max-width: 60em) {
	#wrapper {
		width: 100%;
		margin: 0;
	}
	#content {
		float: none;
		width: 100%;
		padding: 0;
	}
	#sidebar {
		clear: both;
		float: none;
		margin: 2em 0 0;
		width: 100%;
	}
	#logo {
		float: none;
		max-width: 60%;
		//text-align: center;
		margin: 0.5em 0 0;
	}
	#header-banner {
		float: none;
		margin-top: 2em;
		text-align: center;
		max-width: 100%;
	}
	
	/* Mobile Top Navigation */
	
	/* Reset */
	#topnav, #topnav-menu, #topnav-menu li, #topnav-menu a, #topnav-menu ul {
		margin: 0;
		padding: 0;
		position: static;
		float: none;
		display: inline;
		font-size: 1.0em;
		border: none;
		box-shadow: none;
		background: none;
		top: 0;
		left: 0;
	}
	
	#topnav {
		float: none;
	}
	#topnav-icon {
		display: inline-block;
		padding: 0.8em;
		text-decoration: none;
		font-size: 0.85em;
		color: #DD261B;
	}
	#topnav-icon:hover {
		color: silver;
		cursor: pointer;
	}
	#topnav-icon:before {
		display: inline-block;
		margin: -0.3em 0.8em -0.2em 0.3em;
		font: normal 14px Genericons;
		-webkit-font-smoothing: antialiased;
		content: '\f419';
		text-decoration: none;
		vertical-align: middle;
	}
	
	#topnav-menu {
		width: 100%;
		display: none;
		background: #fbfbfb;
	}
	#topnav-menu a {
		display: block;
		padding: 0.8em 1.2em;
		text-decoration: none;
		font-size: 0.85em;
		border-top: 1px solid #ddd;
		clear: left;
	}
	
	/* Mobile Main Navigation */
	
	/* Reset */
	#mainnav, #mainnav-menu, #mainnav-menu li, #mainnav-menu a, #mainnav-menu ul, 
	#mainnav-menu ul a, #mainnav-menu ul ul, #mainnav-menu li ul ul 
	{
		margin: 0;
		padding: 0;
		position: static;
		float: none;
		display: inline;
		font-size: 1.0em;
		border: none;
		box-shadow: none;
		background: none;
		top: 0;
		left: 0;
	}
	#mainnav-menu li:hover ul ul, #mainnav-menu li:hover ul ul ul, #mainnav-menu li:hover ul ul ul ul,
	#mainnav-menu li:hover ul, #mainnav-menu li li:hover ul, #mainnav-menu li li li:hover ul, #mainnav-menu li li li li:hover ul
	{
		display: inline;
	}
	
	#mainnav {
		margin: 1.5em 0;
		float: none;
	}
	#mainnav-icon {
		display: block;
		padding: 1.3em 1.4em;
		text-decoration: none;
		font-size: 1.15em;
		font-family: 'Share', Tahoma, Verdana, Arial;
		border-top: 1px solid silver;
		border-bottom: 2px solid silver;
	}
	#mainnav-icon:hover {
		cursor: pointer;
		color: #DD261B;
	}
	#mainnav-icon:after {
		float: right;
		margin: -0.13em 0 0;
		-webkit-font-smoothing: antialiased;
		display: inline-block;
		content: '\f419';
		font: normal 24px/1 Genericons;
		text-decoration: none;
		vertical-align: middle;
	}
	#mainnav-menu {
		width: 100%;
		display: none;
		background: #fff;
	}
	#mainnav-menu a {
		display: block;
		padding: 1.3em 1.4em;
		color: silver;
		text-decoration: none;
		font-size: 1.05em;
		border-bottom: 1px solid #ccc;
		background: #fff;
		clear: left;
	}
	#mainnav-menu a:link, #mainnav-menu a:visited {
		color: silver;
	}
	#mainnav-menu a:hover, #mainnav-menu a:active {
		color: #DD261B;
	}
	#mainnav-menu ul {
		float: left;
		background: #fbfbfb;
		width: 100%;
	}
	#mainnav-menu ul a {
		display: block;
		width: 100%;
		padding: 1em 1em 1em 2.5em;
		font-size: 0.9em;
		border-bottom: 1px solid #ddd;
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box;
	}
	#mainnav-menu ul ul a {
		padding-left: 4em;
	}
	#mainnav-menu ul ul ul a {
		padding-left: 5.5em;
	}
	#mainnav-menu ul a:link, #mainnav-menu ul a:visited {
		color: silver;
	}
	#mainnav-menu ul a:hover, #mainnav-menu ul a:active {
		color: #DD261B;
		background: none;
	}
	#mainnav-menu li.current_page_item ul li a, #mainnav-menu li.current-menu-item ul li a {
		color: silver;
	}
	#mainnav-menu ul li.current_page_item a, #mainnav-menu ul li.current-menu-item a {
		color: silver;
	}
	
	/* Category Post Widgets */
	.widget-category-posts .big-post .post-title {
		font-size: 1.4em;
	}
	.widget-category-posts .type-post .post-content .post-entry {
		padding: 0.6em 1em 0.8em;
	}
	.widget-category-posts .type-post .post-content .post-entry .entry {
		display: block;
	}
	#widget-category-posts-horizontal .type-post .post-content .post-entry {
		display: block;
	}
	#widget-category-posts-horizontal .type-post .post-content {
		
	}
	
	/* Footer Area */
	#footer-wrap {
		padding: 2em;
	}
	#footer {
		text-align: center;
	}
	#footer .footer-content {
		margin-top: 2em;
	}
	#footernav, #footernav-menu {
		float: none;
	}
	#footernav-menu li {
		margin: 0 1em;
	}
}

/* Tablets (portrait) | <800px */
@media only screen and (max-width: 50em) {
	#logo {
		margin: 0;
	}
	#header-banner {
		margin-top: 1.5em;
	}
	.post-title, .page-title {
		font-size: 1.4em;

	}
	.entry h1, .comment h1 {
	font-size: 2.2em;
	}
	.entry h2, .comment h2 {
		font-size: 1.8em;
	}
	.entry h3, .comment h3 {
		font-size: 1.4em;
	}
	.entry tr th,
	.entry thead th {
		padding: 0.2em 0.4em;
	}
	.entry tr td {
		padding: 0.2em 0.4em;
	}
	
	/* Category Post Widgets */
	.widget-category-posts .big-post .post-title {
		font-size: 1.3em;
	}
	.widget-category-posts .big-post .post-content {
		bottom: 0.5em;
		left: 0.5em;
		right: 0.5em;
	}
	.widget-category-posts .type-post .post-content .post-entry {
		padding: 0.1em 0.6em;
	}
	.widget-category-posts .type-post .post-content .post-entry .entry {
		display: none;
	}
	.widget-category-posts .small-post .wp-post-image {
		max-width: 85px;
	}
	#widget-category-posts-horizontal .type-post .post-content .post-entry {
		display: none;
	}
	#widget-category-posts-horizontal .type-post .post-content {
		
	}
	#widget-category-posts-boxed .big-post {
		position: static;
	}
	#widget-category-posts-boxed .big-post .post-content {
		margin-top: 1em;
		position: static;
	}
	#widget-category-posts-boxed .big-post .post-content .post-entry {
		display: block;
		padding: 0;
	}
}

/* Phablets (portrait) | <640px */
@media only screen and (max-width: 40em) {
	#logo .site-title {
		font-size: 2.3em;
	}
	.post-title, .page-title {
		font-size: 1.3em;
	}
	#mainnav-icon, #mainnav-menu a {
		padding: 1.2em 1.4em;
	}
	.postinfo span {
		display: block;
		margin: 0.5em 0;
	}
	.type-post .post-image {
		max-width: 35%;
	}
	.image-post-categories {
		top: 0.5em;
	}
	.post-categories a {
		margin: 0 1px 1px 0;
		font-size: 0.8em;
	}
	
	/* Category Post Widgets */
	.widget-category-posts .big-post .post-title {
		font-size: 1.15em;
	}
	.widget-category-posts .big-post .post-content {
		bottom: 1em;
	}
	.widget-category-posts .type-post .post-content .post-entry {
		display: none;
	}
	.widget-category-posts .type-post .postmeta {
		font-size: 0.85em;
	}
	.widget-category-posts .small-post .post-title {
		font-size: 1.0em;
	}
	.widget-category-posts .small-post .wp-post-image {
		max-width: 75px;
	}
	#widget-category-posts-horizontal .type-post .post-content .post-title {
		font-size: 1.0em;
	}
		
}

@media only screen and (max-width: 37em) {
	.widget-category-posts .small-post .wp-post-image {
		max-width: 60px;
	}
}

@media only screen and (max-width:760px) {

	#widget-category-posts-horizontal .widget-category-posts-content .type-post {
		width: 50%;

	}
	/*.type-post .post-content .dades-concert  {

		margin-top: -50px;
	}
*/
	
}

@media only screen and (max-width: 32em) {
	#widget-category-posts-horizontal .widget-category-posts-content {
		margin-right: 0;
	}
	#widget-category-posts-horizontal .widget-category-posts-content .type-post {
		float: none;
		width: 100%;
		padding-right: 0;
		height: auto;
		padding-bottom: 4em;
	}
	
	#widget-category-posts-horizontal .big-post {
		display: inline-block;
		margin-bottom: 1em !important;
		position: static;
	}
	#widget-category-posts-horizontal .big-post .post-content {
		position: static;
	}
	#widget-category-posts-horizontal .big-post .post-content .post-entry {
		display: inline;
		background: none;
		padding: 0;
	}
	#widget-category-posts-horizontal .big-post .post-content .small-post {
		float: right;
		width: 100%;
		margin: 0.3em 0 1em 0;
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box;
	}
	#widget-category-posts-horizontal .big-post .wp-post-image {
		float: left;
		width: 95%;
		/*margin: -0.2em 1em 0 0;*/
		margin-bottom: 1em;
	}
}

/* Smartphones | <480px */
@media only screen and (max-width: 30em) {
	#header-social-icons {
		float: none;

	}
	#wrap {
		padding: 1.5em 1.5em 0;
	}
	.type-post, .type-page, .type-attachment, .widget, #comments  {
		margin-bottom: 1.5em;
	}
	#header {
		padding: 0.5em;
	}
	#header-social-icons .social-icons-menu li a {
		padding-top: 0;
	}
	#logo .site-title {
		font-size: 2.2em;
	}
	.alignright, .alignleft {
		float: none;
		margin: 1em 0;
	}
	.type-post .post-image {
		float: none;
		margin: 0 0 1em;
		max-width: 100%;
	}
	.image-post-categories {
		top: 1em;
	}
	.post-categories a {
		margin: 0 1px 2px 0;
		font-size: 1.0em;
	}
	
		/* Category Post Widgets */
	.widget-category-posts .type-post {
		margin: 0 0 1.5em 0;
	}
	.widget-category-posts .big-post .post-title {
		font-size: 1.4em;
	}
	.widget-category-posts .big-post .post-content {
		bottom: 0.5em;
		left: 0.5em;
		right: 0.5em;
	}
	.widget-category-posts .type-post .post-content .post-entry {
		display: block;
		padding: 0.6em 1em 0.8em;
	}
	.widget-category-posts .type-post .postmeta {
		font-size: 0.95em;
	}
	.widget-category-posts .type-post .post-content .post-entry .entry {
		display: block;
	}
	.widget-category-posts .small-post .post-title {
		font-size: 1.1em;
	}
	.widget-category-posts .small-post .wp-post-image {
		max-width: 95px;
	}
	#widget-category-posts-grid .category-posts-grid-row {
		margin-right: 0;
	}
	#widget-category-posts-grid .category-posts-grid-row .type-post,
	#widget-category-posts-boxed .big-post,
	#widget-category-posts-columns .category-posts-column-left {
		float: none;
		width: 100%;
		padding-right: 0;
	}
	#widget-category-posts-boxed .small-posts,
	#widget-category-posts-columns .category-posts-column-right {
		float: right;
		width: 100%;
		margin-left: 0;
		padding-left: 0;
	}
	#widget-category-posts-boxed .small-posts {
		padding-bottom: 0.5em;
	}
	#widget-category-posts-columns .category-posts-columns .small-post {
		margin: 0 0 1em;
	}
	#widget-category-posts-columns .category-posts-column-right {
		margin-top: 1.5em;
	}
	#widget-category-posts-boxed .big-post {
		position: relative;
	}
	#widget-category-posts-boxed .big-post .post-content {
		margin-top: 0;
		position: absolute;
	}
	#widget-category-posts-boxed .big-post .post-content .post-entry {
		padding: 0.6em 1em 0.8em;
	}
}

@media only screen and (max-width: 25em) {
	
	/* Category Post Widgets */
	.widget-category-posts .big-post .post-title {
		font-size: 1.3em;
	}
	.widget-category-posts .big-post .post-content {
		bottom: 1em;
	}
	.widget-category-posts .type-post .post-content .post-entry, #widget-category-posts-boxed .big-post .post-content .post-entry {
		padding: 0.1em 0.6em;
	}
	.widget-category-posts .type-post .postmeta {
		font-size: 0.85em;
	}
	.widget-category-posts .type-post .post-content .post-entry .entry {
		display: none;
	}
	.widget-category-posts .small-post .post-title {
		font-size: 1.0em;
	}
	.widget-category-posts .small-post .wp-post-image {
		max-width: 85px;
	}

	.logo {

		max-width: 90%;
	}
	
}


/* Smartphones | <320px */
@media only screen and (max-width: 20em) {
	#mainnav-icon, #mainnav-menu a {
		padding: 1.1em 1.3em;
	}
	.post-title, .page-title {
		font-size: 1.2em;
	}
	.postmeta span {
		display: block;
	}
	
	/* Category Post Widgets */
	.widget-category-posts .big-post .post-title {
		font-size: 1.1em;
	}
	.widget-category-posts .type-post .post-content .post-entry, #widget-category-posts-boxed .big-post .post-content .post-entry {
		display: none;
	}
	.widget-category-posts .type-post .postmeta {
		font-size: 0.8em;
	}
	.widget-category-posts .small-post .wp-post-image {
		max-width: 75px;
	}
	
}

/* Big Screens Navi Fix | >720px */
@media only screen and (min-width: 60em) {
	/* ensure #nav is visible on desktop version */
	#topnav-menu, #mainnav-menu {
		display: block !important;
	}
}